<div id="wrapper" >
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{admin_prefix}} {{admin_first_name}} {{admin_last_name}}</strong>
                                             </span> <span class="text-muted text-xs block">ผู้ดูแลระบบ<b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="Profile.html">Profile</a></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                    <a href="#/admin"><i class="fa fa-backward"></i> <span class="nav-label">กลับ</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</div>
    <div id="page-wrapper" class="gray-bg" >
        <header-nav></header-nav>
        <center>
            <div class="wrapper wrapper-content ">
                <!-- <div class="wrapper wrapper-content animated fadeInRight"> -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content" style="width: 75%">
                                <div class="row">
                                    <!-- body chang -->
                                    <div class="col-lg-12">
                                        <select id="selectType">
                                            <option>-----ค้นจาก-----</option>
                                            <option value="code_number">รหัสนักเรียน</option>
                                            <option value="first_name">ชื่อจริงนักเรียน</option>
                                            <option value="last_name">นามสกุลนักเรียน</option>
                                        </select>
                                         <input type="text" ng-model="data">
                                         <button ng-click="selectType()">ค้นหา</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="ibox-content" style="width: 75%;margin-top: 3%">
                                <div class="row">
                                    <!-- body chang -->
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover" >
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>รหัส</th>
                                                    <th>เพศ</th>
                                                    <th>ชื่อ</th>
                                                    <th>นามสกุล</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="y in searchData">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{y.code_number}}</td>
                                                    <td>{{y.prefix}}</td>
                                                    <td>{{y.first_name}}</td>
                                                    <td>{{y.last_name}}</td>
                                                    <td>
                                                        <button ng-click="selectStudent($index)" class="btn btn-info btn-sm" align = "right" >ดูรายละเอียด</button>
                                                    <td/>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>
</div>
