 <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">	
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{student.prefix}} {{student.first_name}} {{student.last_name}}</strong>
                             </span><span class="text-muted text-xs block">นักเรียน<b class="caret"></b></span> </span> </a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs">
							<li><a href="#">Profile</a></li>
							<li><a href="login.html">Logout</a></li> </a>
						</ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

				<li >
					<a href="#/student"><i class="fa fa-edit"></i> <span class="nav-label">กลับ</span> </a>
					
                  
                </li>
                

            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg" >
        <header-nav></header-nav>

        <div class="wrapper wrapper-content ">
		<!-- <div class="wrapper wrapper-content animated fadeInRight"> -->
            <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
							<div >
                                <div class="row">
								
									<div class="col-lg-12">
										<div >
										<div class = "row">
										<div class = "col-lg-11">
										
										</div>
										<div class = "col-lg-1">
										<!--<button class="btn btn-warning m-r-sm" align = "right" ng-click="backEditStudent()">กลับ</button> &nbsp-->

										</div>
										</div>
										<div >
											<div ng-show="edit">
											<div class="ibox-content">
												<div class = "row">
													<div class = "row">
														<div class = "col-lg-10">
														</div>
														<div class = "col-lg-2">
															<button class="btn btn-default m-r-sm" align = "right" ng-click="editStudent()">แก้ไข</button>
														</div>
													</div>
													<div class = "col-lg-2 col-lg-offset-1" >
														<img align="left" alt="image" class="img-responsive" ng-src="{{address + student.image}}" style="width:150px; height:200px;"/>
													</div>
													<div class = "col-lg-9">
														<form>
															<p style="font-size:18px">รหัสประจำตัวนักเรียน : {{student.code_number}}&nbsp &nbsp&nbsp &nbsp </p>
															<p style="font-size:18px">ชื่อ-สกุล : {{student.prefix}} {{student.first_name}} &nbsp &nbsp{{student.last_name}}</p>
															<p style="font-size:18px"> รหัสประชาชน :{{student.iden_number}} &nbsp &nbsp&nbsp &nbsp
															กรุ๊ปเลือด : {{student.blood}} &nbsp &nbsp&nbsp &nbsp
															วัน/เดือน/ปีเกิด : {{student.birthdate | date :'dd/MM/'}}{{stdYear}} &nbsp &nbsp อายุ : {{age}}</p>
															<p style="font-size:18px">ที่อยู่ :
															{{student.address}} &nbsp ต.
															{{student.district}}&nbsp อ.
															{{student.parish}}&nbsp จ.
															{{student.city}}</p>
								
											

															<p style="font-size:18px">รหัสไปรษณีย์ :
															{{student.zip_code}} &nbsp &nbsp&nbsp โทรศัพท์ :
															{{student.call}}</p>
															<p style="font-size:18px">ความสามารถพิเศษ :
															{{student.ability}}</p>
															<p style="font-size:18px">สัญชาติ :
															{{student.nationality}}</p>

														</form>
													</div>
												</div>
											</div> <!-- stdData -->
											<br><br>
											<div class="ibox-content" ng-show="hasFather">
												<div class = "row">
													<div class = "row">
														<div class = "col-lg-10">
														</div>
														<div class = "col-lg-2">
															
														</div>
													</div>
													<!-- <div class = "col-lg-2 col-lg-offset-1" >
														<img align="left" alt="image" class="img-responsive" ng-src={{student.father[0].image}} style="width:150px; height:200px;"/>
													</div> -->
													<div class="col-lg-3">
													</div>
													<div class = "col-lg-7">
														<br>
														<form>
															<p style="font-size:16px">
															ชื่อ-สกุล :
															{{student.father[0].prefix}} {{student.father[0].first_name}} &nbsp &nbsp{{student.father[0].last_name}}
															</p>

															<p style="font-size:16px">ที่อยู่ :
															{{student.father[0].address}} &nbsp ต.
															{{student.father[0].district}}&nbsp อ.
															{{student.father[0].parish}}&nbsp จ.
															{{student.father[0].city}}</p>



															<p style="font-size:16px">รหัสไปรษณีย์ :
															{{student.father[0].zip_code}} &nbsp &nbsp&nbsp โทรศัพท์ :
															{{student.father[0].call}}</p>

															<p style="font-size:16px">สัญชาติ :
															{{student.father[0].nationality}}</p>

														</form>
													</div>
													<div class="col-lg-2">
														<button class="btn btn-default m-r-sm" align = "right" ng-click="editFather()">แก้ไข</button>
													</div>
												</div>
											</div>
											<div class="ibox-content" ng-show="!hasFather">
												<div class = "row">
													<div class = "col-lg-12">
														<center><button ng-click="addFather()" style="width: 10%" class="btn btn-sm btn-primary">เพิ่มข้อมูลบิดา</button></center>
													</div>
												</div>
											</div>
											<br><br>
											<div class="ibox-content" ng-show="hasMother">
												<div class = "row">
													<div class = "row">
														<div class = "col-lg-10">
														</div>
														<div class = "col-lg-2">
															<button class="btn btn-default m-r-sm" align = "right" ng-click="editMother()">แก้ไข</button>
														</div>
													</div>
													<!-- <div class = "col-lg-2 col-lg-offset-1" >
														<img align="left" alt="image" class="img-responsive" ng-src={{student.mother[0].image}} style="width:150px; height:200px;"/>
													</div> -->
													<div class="col-lg-3">
													</div>
													<div class = "col-lg-7">
														<br>
														<form>
															<p style="font-size:16px">
															ชื่อ-สกุล :
															{{student.mother[0].prefix}} {{student.mother[0].first_name}} &nbsp &nbsp{{student.mother[0].last_name}}
															</p>

															<p style="font-size:16px">ที่อยู่ :
															{{student.mother[0].address}} &nbsp ต.
															{{student.mother[0].district}}&nbsp อ.
															{{student.mother[0].parish}}&nbsp จ.
															{{student.mother[0].city}}</p>



															<p style="font-size:16px">รหัสไปรษณีย์ :
															{{student.mother[0].zip_code}} &nbsp &nbsp&nbsp โทรศัพท์ :
															{{student.mother[0].call}}</p>

															<p style="font-size:16px">เชื้อชาติ :
															{{student.mother[0].ethnicity}} &nbsp &nbsp&nbsp &nbsp
															สัญชาติ :
															{{student.mother[0].nationality}}</p>

														</form>
													</div>
													<div class="col-lg-2">
														<button class="btn btn-default m-r-sm" align = "right" ng-click="editMother()">แก้ไข</button>
													</div>
												</div>
											</div>
											<div class="ibox-content" ng-show="!hasMother">
												<div class = "row">
													<div class = "col-lg-12">
														<center><button ng-click="addMother()" style="width: 12%" class="btn btn-sm btn-primary">เพิ่มข้อมูลมารดา</button></center>
													</div>
												</div>
											</div>
											<br><br>
											<div class="ibox-content" ng-show="hasGuardian">
												<div class = "row">
													<div class = "row">
														<div class = "col-lg-10">
														</div>
														<div class = "col-lg-2">
															
														</div>
													</div>
													<div class = "col-lg-3">
														<img align="left" alt="image" class="img-responsive" ng-src={{student.guardian[0].image}} style="width:200px; height:200px;"/>
													</div>
													<div class="col-lg-3">
													</div>
													<div class = "col-lg-7">
														<br>
														<form>
															<p style="font-size:16px">
															ชื่อ-สกุล :
															{{student.guardian[0].prefix}} {{student.guardian[0].first_name}} &nbsp &nbsp{{student.guardian[0].last_name}}
															</p>

															<p style="font-size:16px">ที่อยู่ :
															{{student.guardian[0].address}} &nbsp ต.
															{{student.guardian[0].district}}&nbsp อ.
															{{student.guardian[0].parish}}&nbsp จ.
															{{student.guardian[0].city}}</p>



															<p style="font-size:16px">รหัสไปรษณีย์ :
															{{student.guardian[0].zip_code}} &nbsp &nbsp&nbsp โทรศัพท์ :
															{{student.guardian[0].call}}</p>

															<p style="font-size:16px">เชื้อชาติ :
															{{student.guardian[0].ethnicity}} &nbsp &nbsp&nbsp &nbsp
															สัญชาติ :
															{{student.guardian[0].nationality}}</p>

														</form>
													</div>
													<div class="col-lg-2">
														<button class="btn btn-default m-r-sm" align = "right" ng-click="editGuardian()">แก้ไข</button>
													</div>
												</div>
											</div>
											<div class="ibox-content" ng-show="!hasGuardian">
												<div class = "row">
													<div class = "col-lg-12">
														<center><button ng-click="addGuardian()" style="width: 15%" class="btn btn-sm btn-primary">เพิ่มข้อมูลผู้ปกครอง</button></center>
													</div>
												</div>
											</div>
										</div>
										</div>
									</div>
								</div>
							</div>

							<div class="ibox-content" ng-show="showEditStudent">
                                <div class="row">
									<div class="col-lg-12">
										<div >
											<form>
											<div class="row">
												<div class="col-lg-2">
												รหัสประจำตัวนักเรียน :
												</div>
												<div class="col-lg-3">
												<input type="text" name="codeNumber" ng-model="student.code_number">
												</div>
												<br><br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												เพศ :
												</div>
												<div class="col-lg-3">
												<form>
												<input type="radio" name="gender" value="male" id="male"> เด็กชาย
												<input type="radio" name="gender" value="female" id="female"> เด็กหญิง<br>
												</form>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												ชื่อ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="firstName" ng-model="student.first_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												นามสกุล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="lastName" ng-model="student.last_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสประชาชน :
												</div>
												<div class="col-lg-3">
												<input type="text" name="citizenId" ng-model="student.iden_number"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												กรุ๊ปเลือด :
												</div>
												<div class="col-lg-3">
												<input type="text" name="blood" ng-model="student.blood"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												วัน/เดือน/ปีเกิด :
												</div>
												<div class="col-lg-3">
												<input type="date" name="birthDate" ng-model="student.birthdate"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												ที่อยู่ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="address" ng-model="student.address"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												ตำบล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="district" ng-model="student.district"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												อำเภอ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="parish" ng-model="student.parish"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												จังหวัด :
												</div>
												<div class="col-lg-3">
												<input type="text" name="city" ng-model="student.city"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												โทรศัพท์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="call" ng-model="student.call"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสไปรษณีย์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="zipCode" ng-model="student.zip_code"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												ความสามารถพิเศษ :
												</div>
												<div class="col-lg-2">
												<input type="text" name="ability" ng-model="student.ability"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												เชื้อชาติ :
												</div>
												<div class="col-lg-2">
												<input type="text" name="" ng-model="student.ethnicity"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												สัญชาติ :
												</div>
												<div class="col-lg-2">
												<input type="text" name="" ng-model="student.nationality"><br>
												</div>
												<br>
												<br>
											</div>
												
											</form>
											<br><br><br><br>
											<button ng-click="sendEditStudent()">แก้ไข</button>
										</div>
									</div>
                                
								</div>
							</div>
							
							<div class="ibox-content" ng-show="showEditFather">
                                <div class="row">
									<div class="col-lg-12">
										<div >
											<form>
											<div class="row">
												<div class="col-lg-2">
												คำนำหน้าชื่อ :
												</div>
												<div class="col-lg-3">
												<form>
												<input type="text" name="prefix" ng-model="student.father[0].prefix">
	
												</form>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												ชื่อ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="firstName" ng-model="student.father[0].first_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												นามสกุล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="lastName" ng-model="student.father[0].last_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสประชาชน :
												</div>
												<div class="col-lg-3">
												<input type="text" name="citizenId" ng-model="student.iden_number"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												ที่อยู่ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="address" ng-model="student.father[0].address"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												ตำบล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="district" ng-model="student.father[0].district"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												อำเภอ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="parish" ng-model="student.father[0].parish"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												จังหวัด :
												</div>
												<div class="col-lg-3">
												<input type="text" name="city" ng-model="student.father[0].city"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												โทรศัพท์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="call" ng-model="student.father[0].call"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสไปรษณีย์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="zipCode" ng-model="student.father[0].zip_code"><br>
												</div>
												<br>
												<br>
											</div>											
											
											<div class="row">
												<div class="col-lg-2">
												สัญชาติ :
												</div>
												<div class="col-lg-2">
												<input type="text" name="" ng-model="student.father[0].nationality"><br>
												</div>
												<br>
												<br>
											</div>
												
											</form>
											<br><br><br><br>
											<button ng-click="sendEditFather()">แก้ไข</button>
										</div>
									</div>
                                
								</div>
							</div>
							
							<div class="ibox-content" ng-show="showEditMother">
                                <div class="row">
									<div class="col-lg-12">
										<div >
											<form>
											<div class="row">
												<div class="col-lg-2">
												คำนำหน้าชื่อ :
												</div>
												<div class="col-lg-3">
												<form>
												<input type="text" name="prefix" ng-model="student.mother[0].prefix">
												</form>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												ชื่อ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="firstName" ng-model="student.mother[0].first_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												นามสกุล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="lastName" ng-model="student.mother[0].last_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสประชาชน :
												</div>
												<div class="col-lg-3">
												<input type="text" name="citizenId" ng-model="student.mother[0].iden_number"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												ที่อยู่ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="address" ng-model="student.mother[0].address"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												ตำบล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="district" ng-model="student.mother[0].district"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												อำเภอ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="parish" ng-model="student.mother[0].parish"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												จังหวัด :
												</div>
												<div class="col-lg-3">
												<input type="text" name="city" ng-model="student.mother[0].city"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												โทรศัพท์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="call" ng-model="student.mother[0].call"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสไปรษณีย์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="zipCode" ng-model="student.mother[0].zip_code"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												สัญชาติ :
												</div>
												<div class="col-lg-2">
												<input type="text" name="" ng-model="student.mother[0].nationality"><br>
												</div>
												<br>
												<br>
											</div>
												
											</form>
											<br><br><br><br>
											<button ng-click="sendEditMother()">แก้ไข</button>
										</div>
									</div>
                                
								</div>
							</div>
							
							<div class="ibox-content" ng-show="showEditGuardian">
                                <div class="row">
									<div class="col-lg-12">
										<div >
											<form>
											<div class="row">
												<div class="col-lg-2">
												คำนำหน้าชื่อ :
												</div>
												<div class="col-lg-3">
												<form>
												<input type="text" name="prefix" ng-model="student.guardian[0].prefix">
	
												</form>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												ชื่อ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="firstName" ng-model="student.guardian[0].first_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												นามสกุล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="lastName" ng-model="student.guardian[0].last_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสประชาชน :
												</div>
												<div class="col-lg-3">
												<input type="text" name="citizenId" ng-model="student.guardian[0].iden_number"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												ที่อยู่ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="address" ng-model="student.guardian[0].address"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												ตำบล :
												</div>
												<div class="col-lg-3">
												<input type="text" name="district" ng-model="student.guardian[0].district"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												อำเภอ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="parish" ng-model="student.guardian[0].parish"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												จังหวัด :
												</div>
												<div class="col-lg-3">
												<input type="text" name="city" ng-model="student.guardian[0].city"><br>
												</div>
												<br>
												<br>
											</div>
											
											<div class="row">
												<div class="col-lg-2">
												โทรศัพท์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="call" ng-model="student.guardian[0].call"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												รหัสไปรษณีย์ :
												</div>
												<div class="col-lg-3">
												<input type="text" name="zipCode" ng-model="student.guardian[0].zip_code"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
												สัญชาติ :
												</div>
												<div class="col-lg-2">
												<input type="text" name="" ng-model="student.guardian[0].nationality"><br>
												</div>
												<br>
												<br>
											</div>
												
											</form>
											<br><br><br><br>
											<button ng-click="sendEditGuardian()">แก้ไข</button>
										</div>
									</div>
                                
								</div>
							</div>

							<div class="ibox-content" ng-show="showAddFather">
								<div class="row">
									<div class="col-lg-12">
										<div >
											<form>
												<div class="row">
													<div class="col-lg-2">
														คำนำหน้าชื่อ :
													</div>
													<div class="col-lg-3">
														<form>
															<input type="text" name="prefix" ng-model="student.father[0].prefix">

														</form>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														ชื่อ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="firstName" ng-model="student.father[0].first_name"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														นามสกุล :
													</div>
													<div class="col-lg-3">
														<input type="text" name="lastName" ng-model="student.father[0].last_name"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														รหัสประชาชน :
													</div>
													<div class="col-lg-3">
														<input type="text" name="citizenId" ng-model="student.father[0].iden_number"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														ที่อยู่ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="address" ng-model="student.father[0].address"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														ตำบล :
													</div>
													<div class="col-lg-3">
														<input type="text" name="district" ng-model="student.father[0].district"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														อำเภอ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="parish" ng-model="student.father[0].parish"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														จังหวัด :
													</div>
													<div class="col-lg-3">
														<input type="text" name="city" ng-model="student.father[0].city"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														โทรศัพท์ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="call" ng-model="student.father[0].call"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														รหัสไปรษณีย์ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="zipCode" ng-model="student.father[0].zip_code"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														สัญชาติ :
													</div>
													<div class="col-lg-2">
														<input type="text" name="" ng-model="student.father[0].nationality"><br>
													</div>
													<br>
													<br>
												</div>

											</form>
											<br><br><br><br>
											<button ng-click="sendAddFather()">เพิ่ม</button>
										</div>
									</div>

								</div>
							</div>
							<div class="ibox-content" ng-show="showAddMother">
								<div class="row">
									<div class="col-lg-12">
										<div >
											<form>
												<div class="row">
													<div class="col-lg-2">
														คำนำหน้าชื่อ :
													</div>
													<div class="col-lg-3">
														<form>
															<input type="text" name="prefix" ng-model="student.mother[0].prefix">

														</form>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														ชื่อ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="firstName" ng-model="student.mother[0].first_name"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														นามสกุล :
													</div>
													<div class="col-lg-3">
														<input type="text" name="lastName" ng-model="student.mother[0].last_name"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														รหัสประชาชน :
													</div>
													<div class="col-lg-3">
														<input type="text" name="citizenId" ng-model="student.mother[0].iden_number"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														ที่อยู่ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="address" ng-model="student.mother[0].address"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														ตำบล :
													</div>
													<div class="col-lg-3">
														<input type="text" name="district" ng-model="student.mother[0].district"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														อำเภอ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="parish" ng-model="student.mother[0].parish"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														จังหวัด :
													</div>
													<div class="col-lg-3">
														<input type="text" name="city" ng-model="student.mother[0].city"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														โทรศัพท์ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="call" ng-model="student.mother[0].call"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														รหัสไปรษณีย์ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="zipCode" ng-model="student.mother[0].zip_code"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														สัญชาติ :
													</div>
													<div class="col-lg-2">
														<input type="text" name="" ng-model="student.mother[0].nationality"><br>
													</div>
													<br>
													<br>
												</div>

											</form>
											<br><br><br><br>
											<button ng-click="sendAddMother()">เพิ่ม</button>
										</div>
									</div>

								</div>
							</div>

							<div class="ibox-content" ng-show="showAddGuardian">
								<div class="row">
									<div class="col-lg-12">
										<div >
											<form>
												<div class="row">
													<div class="col-lg-2">
														คำนำหน้าชื่อ :
													</div>
													<div class="col-lg-3">
														<form>
															<input type="text" name="prefix" ng-model="student.guardian[0].prefix">

														</form>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														ชื่อ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="firstName" ng-model="student.guardian[0].first_name"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														นามสกุล :
													</div>
													<div class="col-lg-3">
														<input type="text" name="lastName" ng-model="student.guardian[0].last_name"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														รหัสประชาชน :
													</div>
													<div class="col-lg-3">
														<input type="text" name="citizenId" ng-model="student.guardian[0].iden_number"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														ที่อยู่ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="address" ng-model="student.guardian[0].address"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														ตำบล :
													</div>
													<div class="col-lg-3">
														<input type="text" name="district" ng-model="student.guardian[0].district"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														อำเภอ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="parish" ng-model="student.guardian[0].parish"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														จังหวัด :
													</div>
													<div class="col-lg-3">
														<input type="text" name="city" ng-model="student.guardian[0].city"><br>
													</div>
													<br>
													<br>
												</div>

												<div class="row">
													<div class="col-lg-2">
														โทรศัพท์ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="call" ng-model="student.guardian[0].call"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														รหัสไปรษณีย์ :
													</div>
													<div class="col-lg-3">
														<input type="text" name="zipCode" ng-model="student.guardian[0].zip_code"><br>
													</div>
													<br>
													<br>
												</div>
												<div class="row">
													<div class="col-lg-2">
														สัญชาติ :
													</div>
													<div class="col-lg-2">
														<input type="text" name="" ng-model="student.guardian[0].nationality"><br>
													</div>
													<br>
													<br>
												</div>

											</form>
											<br><br><br><br>
											<button ng-click="sendAddGuardian()">เพิ่ม</button>
										</div>
									</div>

								</div>
							</div>
                    </div>		
		</div>
					</div>
			</div>
		</div>
	</div>