
            <div>
                <div id="wrapper" >
                    <nav class="navbar-default navbar-static-side" role="navigation">
                        <div class="sidebar-collapse">
                            <ul class="nav" id="side-menu">
                                <li class="nav-header">
                                    <div class="dropdown profile-element">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"> {{teacher_first_name}} {{teacher_last_name}}</strong>
                                             </span> <span class="text-muted text-xs block">คุณครู<b class="caret"></b></span> </span> </a>
                                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                            <li><a href="Profile.html">Profile</a></li>
                                            <li><a href="login.html">Logout</a></li>
                                        </ul>
                                    </div>
                                    <div class="logo-element">
                                        IN+
                                    </div>
                                </li>
                                <li>
                                    <!-- <a href=""></i> <span class="nav-label">รายชื่อเด็กประจำชั้น</span></a>
                                    <a href=""></i> <span class="nav-label">รายชื่อเด็กที่สอน</span></a>
                                    <a href=""></i> <span class="nav-label">เปลี่ยนรหัสผ่าน</span></a> -->
                                </li>
                                <li>
                                    <a href="#/teacher"></i> <span class="nav-label">กลับ</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="page-wrapper" class="gray-bg" >
       <header-nav></header-nav>
    <center>
        <div class="wrapper wrapper-content ">
            <!-- <div class="wrapper wrapper-content animated fadeInRight"> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        
                        <div class="ibox-content" style="width: 75%" >
                            <div class="row">
                              <!-- body chang -->
                                <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                new-password :
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="password"  ng-model="teacher.newPassword"  required="">
                                                <br>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                re-password :
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="password"  ng-model="teacher.rePassword"  required="">
                                                <br>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">

                                            </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-info m-r-sm" ng-click="sendDataEditPassword()">ยืนยัน</button>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
                        <div class="footer">
                            <div class="pull-right">
                                ....... <strong>.......</strong> .......
                            </div>
                            <div>
                                <strong>.......</strong> ....................
                            </div>
                        </div>
                    </div>
    </center>
                </div>
            </div>
