<div id="wrapper" >
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{admin_prefix}} {{admin_first_name}} {{admin_last_name}}</strong>
                                             </span> <span class="text-muted text-xs block">ผู้ดูแลระบบ<b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="Profile.html">Profile</a></li>
                            <li><a href="../../../../login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                    <a href="#/admin/viewroom/student/data"><i class="fa fa-backward"></i><span class="nav-label">กลับ</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</div>
    <div id="page-wrapper" class="gray-bg" >
        <header-nav></header-nav>
        <center>
            <div class="wrapper wrapper-content ">
                <!-- <div class="wrapper wrapper-content animated fadeInRight"> -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content " style="width: 75%">
                                <div class="row" align="left">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div >
                                                <form>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            รหัสประจำตัวนักเรียน :
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input type="text" name="codeNumber" ng-model="student.code_number">
                                                        </div>
                                                        <br><br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            เพศ :
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <form>
                                                                <input type="radio" name="gender" value="male" id="male"> เด็กชาย
                                                                <input type="radio" name="gender" value="female" id="female"> เด็กหญิง<br>
                                                            </form>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            ชื่อ :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="firstName" ng-model="student.first_name"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            นามสกุล :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="lastName" ng-model="student.last_name"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            รหัสประชาชน :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="citizenId" ng-model="student.iden_number"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            กรุ๊ปเลือด :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="blood" ng-model="student.blood"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            วัน/เดือน/ปีเกิด :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="date" name="birthDate" ng-model="student.birthdate"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            ที่อยู่ :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="address" ng-model="student.address"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            ตำบล :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="district" ng-model="student.district"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            อำเภอ :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="parish" ng-model="student.parish"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            จังหวัด :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="city" ng-model="student.city"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            โทรศัพท์ :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="call" ng-model="student.call"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            รหัสไปรษณีย์ :
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input type="text" name="zipCode" ng-model="student.zip_code"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            ความสามารถพิเศษ :
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input type="text" name="ability" ng-model="student.ability"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            เชื้อชาติ :
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input type="text" name="" ng-model="student.ethnicity"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            สัญชาติ :
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input type="text" name="" ng-model="student.nationality"><br>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>


                                                </form>
                                                <br><br><br><br>
                                                <button ng-click="sendEditStudent()">แก้ไข</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="margin-top: 10%">
                                            <div style="float: right; margin-right: 50%">
                                                <img style="width: 100%; height: 100%" id="blah" ng-src="{{address + student.image}}" alt="preview image"/>
                                            </div>
                                            <input type="file" ngf-select fileread="image" ng-model="file" name="file" accept="image/*" id="imgInp" style="float:right; margin-right: 20%">
                                            <br>
                                            <span style="float:right; margin-right: 50%">เลือกรูปภาพโปรไฟล์</span>
                                            <br>
                                            <button style="float: right; margin-right: 50%" ng-click="uploadImage(file)">อัพเดทรูปภาพ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>