<div id="wrapper">
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element">
                            <span> <img alt="image" class="img-circle" src="../../../img/profile_small.jpg" />
                            </span>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{admin_prefix}} {{admin_first_name}} {{admin_last_name}}</strong>
                             </span> <span class="text-muted text-xs block">ผู้ดูแลระบบ<b class="caret"></b></span> </span> </a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs">
							<li><a href="#">Profile</a></li>
							<li><a href="../../../login.html">Logout</a></li>
						</ul>
					</div>
					<div class="logo-element">
						IN+
					</div>
				</li>
				<li>
					<a href="#/admin"><i class="fa fa-backward"></i> <span class="nav-label">หน้าหลัก</span></a>
				</li>
				<li>
					<a href="#/admin/viewroom/student/add/file"><i class="fa fa-th-list"></i> <span class="nav-label">เพิ่มนักเรียนแบบ file</span> </a>
				</li>
				
				<li ng-show="level4">
					<a href="#/admin/add_grade4_student"><i class="fa fa-th-list"></i> <span class="nav-label">เพิ่มนักเรียน ป.4</span> </a>
				</li>
				
				<li>
					<a href="#/admin/viewroom/student"><i class="fa fa-backward"></i> <span class="nav-label">กลับ</span></a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="page-wrapper" class="gray-bg" >
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
				</div>
				<ul class="nav navbar-top-links navbar-right">
					<li>
						<a ng-click="logout()">
							<i class="fa fa-sign-out"></i> Log out
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="wrapper wrapper-content ">
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							<div class="row">
								<div class="col-lg-12">
									<div >
										<form>
											<div class="row">
												<div class="col-lg-2">
													รหัสประจำตัวนักเรียน :
												</div>
												<div class="col-lg-3">
													<input type="text" name="codeNumber" ng-model="student.code_number">
												</div>
												<br><br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													เพศ :
												</div>
												<div class="col-lg-3">
													<form>
														<input type="radio" name="gender" value="male" id="male"> เด็กชาย
														<input type="radio" name="gender" value="female" id="female"> เด็กหญิง<br>
													</form>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													ชื่อ :
												</div>
												<div class="col-lg-3">
													<input type="text" name="firstName" ng-model="student.first_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													นามสกุล :
												</div>
												<div class="col-lg-3">
													<input type="text" name="lastName" ng-model="student.last_name"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													รหัสประชาชน :
												</div>
												<div class="col-lg-3">
													<input type="text" name="citizenId" ng-model="student.iden_number"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													กรุ๊ปเลือด :
												</div>
												<div class="col-lg-3">
													<input type="text" name="blood" ng-model="student.blood"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													วัน/เดือน/ปีเกิด :
												</div>
												<div class="col-lg-3">
													<input type="date" name="birthDate" ng-model="student.birthdate"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													ที่อยู่ :
												</div>
												<div class="col-lg-3">
													<input type="text" name="address" ng-model="student.address"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													ตำบล :
												</div>
												<div class="col-lg-3">
													<input type="text" name="district" ng-model="student.district"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													อำเภอ :
												</div>
												<div class="col-lg-3">
													<input type="text" name="parish" ng-model="student.parish"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													จังหวัด :
												</div>
												<div class="col-lg-3">
													<input type="text" name="city" ng-model="student.city"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													โทรศัพท์ :
												</div>
												<div class="col-lg-3">
													<input type="text" name="call" ng-model="student.call"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													รหัสไปรษณีย์ :
												</div>
												<div class="col-lg-3">
													<input type="text" name="zipCode" ng-model="student.zip_code"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													ความสามารถพิเศษ :
												</div>
												<div class="col-lg-2">
													<input type="text" name="ability" ng-model="student.ability"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													เชื้อชาติ :
												</div>
												<div class="col-lg-2">
													<input type="text" name="" ng-model="student.ethnicity"><br>
												</div>
												<br>
												<br>
											</div>
											<div class="row">
												<div class="col-lg-2">
													สัญชาติ :
												</div>
												<div class="col-lg-2">
													<input type="text" name="" ng-model="student.nationality"><br>
												</div>
												<br>
												<br>
											</div>
										</form>
										<br><br><br><br>
										<button ng-click="sendAddStudent()">เพิ่ม</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>