<div id="wrapper" ng-controller="viewStdCtrl">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                            <span> <img alt="image" class="img-circle" src="public/img/profile_small.jpg" />
                            </span>
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{admin_prefix}} {{admin_first_name}} {{admin_last_name}}</strong>
                             </span> <span class="text-muted text-xs block">ผู้ดูแลระบบ<b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="Profile.html">Profile</a></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                    <a href="#/../admin"><i class="fa fa-backward"></i> <span class="nav-label">หน้าหลัก</span></a>
                </li>
                <li>
                    <a ng-click="goAddStudent()"><i class="fa fa-th-list"></i> <span class="nav-label">เพิ่มนักเรียน</span> </a>
                </li>
                <li>
                    <a href="Dashboard_Viewrooms_Std_Teacher.html"><i class="fa fa-th-list"></i> <span class="nav-label">ครูประจำชั้น</span> </a>
                </li>
                <li>
                    <a href="#" on-click="return printDiv('print')"><i class="fa fa-th-list"></i> <span class="nav-label">พิมพ์รายชื่อนักเรียน</span> </a>
                </li>
                <li>
                    <a href="Dashboard_Viewrooms.html"><i class="fa fa-backward"></i> <span class="nav-label">กลับ</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg" >
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content ">
            <!-- <div class="wrapper wrapper-content animated fadeInRight"> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div   >
                                        <br><br>
                                        <div id="print">
                                            <center><h4>ใบรายชื่อนักเรียน โรงเรียนสาธิตมหาวิทยาลัยศิลปากร (ปฐมวัยและประถมศึกษา) ระดับประถมศึกษา <br><br>
                                                ประจำปีการศึกษา  {{roomData.year}} <br><br>
                                                ระดับชั้น  {{roomData.level}} ห้อง {{roomData.name}}</h4></center>
                                            <br><br>
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:70px"><center>ลำดับ</center></th>
                                                        <th style="width:100px"><center>เลขประจำตัว</center></th>
                                                        <th style="width:150px"><center>ชื่อ</center></th>
                                                        <th style="width:150px"><center>นามสกุล</center></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="y in studentData" >
                                                        <td><center><a ng-click="sendStudentData(y.code_number, y.prefix, y.first_name, y.last_name, y.id, y.iden_number, y.blood,
																										 y.birthdate, y.address, y.district, y.parish, y.city, y.call, y.zip_code, y.ability, y.ethnicity, y.nationality)">
                                                            <span ng-attr-id="{{$index}}">{{$index + 1}}</span></a></center></td>
                                                        <td><center><span ng-attr-id="{{'stdDataCode' + $index}}">{{y.code_number}}</span></center></td>
                                                        <td><center><span ng-attr-id="{{'stdDataFName' + $index}}">{{y.first_name}}</span></center></td>
                                                        <td><center><span ng-attr-id="{{'stdDataLName' + $index}}"> {{y.last_name}}</span></center></td>
                                                        <td ><button class="btn btn-info btn-sm" ng-click="getDetail(y)">ดูประวัติ</button>
                                                            <button class="btn btn-info btn-sm" ng-click="viewGradeStudent(y.id)"><i class="fa fa-trash-o"></i> ดูผลการศึกษา</button>
                                                            <button class="btn btn-danger btn-sm" ng-click="deleteStudent($index)"><i class="fa fa-trash-o"></i> ลบรายชื่อนักเรียน</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
