<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satit</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>

    <script src="../../lib/angular.min.js"></script>
    <script src="../../admin/print_grade.js"></script>
    <script src="../../lib/angular-route.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="printStudentGradeController">
        <center><span style="font-size: 0.35cm">รายงานผลพัฒนาคุณภาพผู้เรียนตามกลุ่มสาระการเรียนรู้ และกิจกรรมพัฒนาผู้เรียน<br>
            ชั้นประถมศึกษาปีที่ {{stdRoom[0].room.level.charAt(2)}} ปีการศึกษา {{stdRoom[0].room.year}}</span></center>
        <table>
            <tr>
                <td rowspan="3"><center><span style="font-size: 0.35cm">รหัส</span></center></td>
                <td rowspan="3"><center><span style="font-size: 0.35cm">รายวิชา</span></center></td>
                <td rowspan="3"><center><span style="font-size: 0.35cm">น้ำหนัก</span></center></td>
                <td colspan="4"><span style="display:block; text-align: center; font-size: 0.35cm">ผลการเรียนรู้</span></td>
                <td colspan="3"><span style="display:block; ; text-align: center; font-size: 0.35cm">ผลการประเมิน</span></td>
            </tr>
            <tr>
                <td><center><span style="font-size: 0.35cm">ภาคเรียนที่ 1</span></center></td>
                <td><center><span style="font-size: 0.35cm">ภาคเรียนที่ 2</span></center></td>
                <td><center><span style="font-size: 0.35cm">รวม</span></center></td>
                <td rowspan="2"><center><span style="font-size: 0.35cm">ร้อยละ</span></center></td>
                <td rowspan="2"><center><span style="font-size: 0.35cm">สอบปกติ</span></center></td>
                <td rowspan="2"><center><span style="font-size: 0.35cm">สอบแก้ตัว</span></center></td>
                <td rowspan="2"><center><span style="font-size: 0.35cm">เรียนซ้ำ</span></center></td>
            </tr>
            <tr>
                <td><span style="display:block; text-align: center; font-size: 0.35cm">100</span></td>
                <td><span style="display:block; text-align: center; font-size: 0.35cm">100</span></td>
                <td><span style="display:block; text-align: center; font-size: 0.35cm">200</span></td>

            </tr>
            <tr>
                <td style="background-color: #E6E1DC" colspan="10"><span style="font-size: 0.25cm">รายวิชาพื้นฐาน</span></td>
            </tr>
            <tr ng-repeat="x in stdRoom[0].student_subjects" ng-show="x.status && x.subject.status === 'วิชาหลัก'" >
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">{{x.subject.code}}</span></center></td>
                <td style="width: 6cm"><span style="font-size: 0.3cm">{{x.subject.name}}</span></td>
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">{{x.subject.credit}}</span></center></td>
                <td style="width: 1.7cm"><center><span style="font-size: 0.3cm">{{x.score1}}</span></center></td>
                <td style="width: 1.7cm"><center><span style="font-size: 0.3cm">{{x.score2}}</span></center></td>
                <td style="width: 1.7cm"><center><span style="font-size: 0.3cm">{{x.score1 + x.score2}}</span></center></td>
                <td style="width: 1.2cm"><center><span style="font-size: 0.3cm">{{x.score_result}}</span></center></td>
                <td style="width: 0.6cm"><center><span style="font-size: 0.3cm">{{x.grade}}</span></center></td>
                <td style="width: 0.6cm"></td>
                <td style="width: 0.6cm"></td>
            </tr>
            <tr>
                <td style="background-color: grey" colspan="10"><span style="font-size: 0.25cm">รายวิชาเพิ่มเติม</span></td>
            </tr>
            <tr ng-repeat="x in stdRoom[0].student_subjects" ng-show="x.status && x.subject.status === 'วิชาเพิ่มเติม'" >
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">{{x.subject.code}}</span></center></td>
                <td style="width: 6cm"><span style="font-size: 0.3cm">{{x.subject.name}}</span></td>
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">{{x.subject.credit}}</span></center></td>
                <td style="width: 1.7cm"><center><span style="font-size: 0.3cm">{{x.score1}}</span></center></td>
                <td style="width: 1.7cm"><center><span style="font-size: 0.3cm">{{x.score2}}</span></center></td>
                <td style="width: 1.7cm"><center><span style="font-size: 0.3cm">{{x.score1 + x.score2}}</span></center></td>
                <td style="width: 1.2cm"><center><span style="font-size: 0.3cm">{{x.score_result}}</span></center></td>
                <td style="width: 0.6cm"><center><span style="font-size: 0.3cm">{{x.grade}}</span></center></td>
                <td style="width: 0.6cm"></td>
                <td style="width: 0.6cm"></td>
            </tr>
        </table>
        <table style="margin-top: 0.2cm">
            <tr>
                <td rowspan="3" style="width: 10cm"><center><span style="font-size: 0.3cm">กิจกรรมพัฒนาผู้เรียน</span></center></td>
                <td colspan="4" style="width: 10cm"><center><span style="font-size: 0.3cm">ผลการประเมินกิจกรรมพัฒนาผู้เรียนรายปี</span></center></td>
            </tr>
            <tr>
                <td colspan="2"><center><span style="font-size: 0.3cm">ภาคเรียนที่ 1</span></center></td>
                <td colspan="2"><center><span style="font-size: 0.3cm">ภาคเรียนที่ 2</span></center></td>
            </tr>
            <tr>
                <td><span style="display:block; font-size: 0.3cm; text-align: center">ปกติ</span></td>
                <td><span style="display:block; font-size: 0.3cm; text-align: center">แก้ไข</span></td>
                <td><span style="display:block; font-size: 0.3cm; text-align: center">ปกติ</span></td>
                <td><span style="display:block; font-size: 0.3cm; text-align: center">แก้ไข</span></td>
            </tr>
            <tr ng-repeat="x in stdRoom[0].student_subjects" ng-show="x.status && x.subject.status === 'พัฒนาผู้เรียน'" >
                <td><span style="font-size: 0.3cm">{{x.subject.name}}</span></td>
                <td><center><span style="font-size: 0.3cm">{{x.grade}}</span></center></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        
        <table style="margin-top: 0.2cm">
            <tr>
                <td rowspan="2" style="width: 6cm"><center><span style="font-size: 0.3cm">รายการ</span></center></td>
                <td colspan="5" style="width: 10cm"><center><span style="font-size: 0.3cm">สรุปผลการประเมินรายปี</span></center></td>
            </tr>
            <tr>
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">ทั้งหมด</span></center></td>
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">สอบปกติ</span></center></td>
                <td style="width: 2cm"><center><span style="font-size: 0.3cm">สอบแก้ตัว/เรียนซ้ำ</span></center></td>
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">รวม</span></center></td>
                <td style="width: 1cm"><center><span style="font-size: 0.3cm">หมายเหตุ</span></center></td>
            </tr>
            <tr>
                <td><span style="font-size: 0.3cm">จำนวนน้ำหนักรายวิชาพื้นฐาน</span></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].ca - stdRoom[0].ca_temp_cal}}</span></center></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].cp - stdRoom[0].cp_temp_cal}}</span></center></td>
                <td><center></center></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].cp - stdRoom[0].cp_temp_cal}}</span></center></td>
                <td><center></center></td>
            </tr>

            <tr>
                <td><span style="font-size: 0.3cm">จำนวนน้ำหนักรายวิชาเพิ่มเติม</span></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].cr_temp_cal}}</span></center></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].cp_temp_cal}}</span></center></td>
                <td><center></center></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].cp_temp_cal}}</span></center></td>
                <td><center></center></td>
            </tr>
            <tr>
                <td><span style="font-size: 0.3cm">รวมจำนวนน้ำหนัก</span></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].ca}}</span></center></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].cp}}</span></center></td>
                <td><center></center></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].cp}}</span></center></td>
                <td><center></center></td>
            </tr>
            <tr>
                <td><span style="font-size: 0.3cm">ระดับผลการประเมินเฉลี่ยสอบปกติ</span></td>
                <td style="background-color: #8c8c8c"></td>
                <td><center><span style="font-size: 0.3cm">{{stdRoom[0].gpa}}</span></center></td>
                <td style="background-color: #8c8c8c"></td>
                <td style="background-color: #8c8c8c"></td>
                <td><center></center></td>
            </tr>
            <tr>
                <td><span style="font-size: 0.3cm">ระดับผลการประเมินเฉลี่ยหลังการสอบแก้ตัว</span></td>
                <td style="background-color: #8c8c8c"></td>
                <td><center></center></td>
                <td><center></center></td>
                <td style="background-color: #8c8c8c"></td>
                <td><center></center></td>
            </tr>
            <tr>
                <td colspan="2" style="width: 60%"><span style="font-size: 0.3cm">ระดับการประเมินเฉลี่ยสะสม</span></td>
                <td colspan="4" style="width: 40%"><center><span style="font-size: 0.3cm">{{stdRoom[0].gpa}}</span></center></td>
            </tr>
        </table>
        <!--<table style="float:left">
            <tr>
                <td style="height: 1.5cm">ลายเซ็นหัวหน้าสถานศึกษา ............................................ <br> ลายเซ็นผู้ปกครอง ...........................................................</td>
            </tr>
        </table>
        <table style="float:right">
            <tr>
                <td style="height: 1.5cm">ลายเซ็นครูประจำชั้น ............................................ </td>
            </tr>
        </table> -->
    </div>


</body>
</html>